node_modules
.env
.next/
next
.gitignore                                                                                                                                                                                                                                                                                                                                      